%h2 Search Bugs
%h3 Search by Contributor
%div{:class=>"row"}
	%div{:class=>"span8"}
		%form{:class=>"well",:method=>"post"}
			%input{:type=>"text",:name=>"contributor",:placeholder=>"type here"}
			%br
			%button{:type=>"submit",:class=>"btn btn-info"} Search Bugs
	%div{:class=>"span4"}
		%ul{:class=>"nav nav-list"}
			%li
				%a{:href=>"/"} Home
			%li{:class=>"nav-header"} Search Categories
			%li 
				%a{:href=>"/id"} ID
			%li
				%a{:href=>"/section"} Section
			%li{:class=>"active"}
				%a{:href=>"/contributor"} Contributor
			%li
				%a{:href=>"/date"} Date
