%div{:class=>"row"}
	%div{:class=>"span6"}
		%h2 New Bug
		%p Complete the form below to create a new bug
		%form{:class=>"well",:method=>"post"}
			%label Section
			%input{:type=>"text", :name=>"section", :placeholder=>"Section"}
			%label Content
			%input{:type=>"text", :name=>"content", :placeholder=>"Content"}
			%label Contributor
			%input{:type=>"text", :name=>"contributor", :placeholder=>"Contributor"}
			%label Assigned
			%input{:type=>"text", :name=>"assigned", :placeholder=>"Assigned"}
			%label Bug ID
			%input{:type=>"text", :name=>"id", :placeholder=>"Bug ID"}
			%br
			%input{:type=>"submit",:value=>"Submit Bug"}
	%div{:class=>"span6"}
		%h2 Search Categories
		%p Search for bugs by category
		%form{:class=>"well",:method=>"post"}
			-#%select{:id=>"select-cat"}
			-#	%option
			-#	%option ID
			-#	%option Section
			-#	%option Contributor
			-#	%option Date
			%ul{:class=>"nav nav-pills nav-stacked"}
				%li
					%a{:href=>"#"} ID
				%li
					%a{:href=>"#"} Section
				%li
					%a{:href=>"#"} Contributor
				%li
					%a{:href=>"#"} Date

