!!!
%html
	%head
		%title Bug Tracker
		%link(rel="stylesheet" href="css/bootstrap.css" type ="text/css")
		%style{:type=>"text/css"}
			body{padding-top:5px;}
	%body
		.navbar
			.navbar-inner
				.container
					%ul
						%li
							%a{:class=>"brand", :href=>"#"} Laura's Bug Tracker
		.container
			=yield